////////////////////////////////////////
// Project variables
////////////////////////////////////////

//////////////////////////////////////// Breakpoints

//////////////////////////////////////// Colors

$c-body-bg: #FFFCE6


$c-main-meta-text: #7f7d72
$c-main-subtotal-bg: #80A080
$c-main-subtotal-text: #fff

$c-header-bg: #6984a3
$c-header-text: #fdfbed
$c-header-sidebar-toggle-icon: #fdfbed
$c-header-search-toggle-bg: #fdfbed
$c-header-search-toggle-text: #6984a3
$c-header-search-toggle-icon: #7496c3

$c-menu-category-bg: #2fa081
$c-menu-category-text: #fdfbed
$c-menu-category-icon: #fdfbed
$c-menu-category-active-bg: #1c5243
$c-menu-category-active-corner: #ff7f50
$c-menu-category-home-bg: #c76f85
$c-menu-category-home-active-bg: #000
$c-menu-category-home-active-corner: #ff7f50
$c-menu-subcategories-bg: #d5ead2
$c-menu-subcategories-control-bg: #2e6b98
$c-menu-subcategories-control-icon: #fdfbed
$c-menu-subcategory-bg: #8e8e8e
$c-menu-subcategory-text: #fdfbed
$c-menu-subcategory-active-corner: #ff7f50
$c-menu-items-control-bg: transparent
$c-menu-items-control-border: #044c4c
$c-menu-items-control-icon: #044c4c
$c-menu-item-bg: #8e8e8e
$c-menu-item-text: #fdfbed
$c-menu-item-meta-text: transparentize(#fdfbed, 0.5)

$c-invoice-guest-button-bg: #6984a3
$c-invoice-guest-button-text: #fdfbed
$c-invoice-panel-bg: #fdfbed
$c-invoice-panel-border: #707070
$c-invoice-panel-header-bg: #c17a7a
$c-invoice-panel-title-text: #fdfbed
$c-invoice-panel-footer-bg: #eae8d9
$c-invoice-panel-function-text: #023e18
$c-invoice-list-label-text: #a0a0a0
$c-invoice-item-bg: transparent
$c-invoice-item-text: #000000
$c-invoice-item-meta-text: #726f6f
$c-invoice-item-meta-label-text: #726f6f
$c-invoice-item-meta-label-take-off-text: #84AC6C
$c-invoice-item-meta-label-add-on-text: #C19393
$c-invoice-item-price-text: transparentize(#000000, 0.6)
$c-invoice-item-hover-bg: transparentize(#66b2b2, 0.7)
$c-invoice-item-active-bg: transparentize(#66b2b2, 0.7)
$c-invoice-info-bg: #023e18
$c-invoice-table-number-bg: #d06101
$c-invoice-table-number-text: #fdfbed
$c-invoice-total-text: #ffffff
$c-invoice-action-bg: #770c80
$c-invoice-action-text: #fdfbed

$c-numpad-control-bg: #0c8080
$c-numpad-control-text: #fdfbed
$c-numpad-control-clear-bg: transparent
$c-numpad-control-clear-border: #0c8080
$c-numpad-control-clear-text: #0c8080

$c-modal-bg: #fdfbed

$c-item-image-bg: #5c5c5c
$c-item-image-icon: #fdfbed
$c-item-title-text: #050505
$c-item-subtitle-text: #7b7b7b
$c-item-meta-text: transparentize(#0b0b0b, 0.6)
$c-item-meta-label-text: transparentize(#0b0b0b, 0.6)
$c-item-modifiers-bg: transparent
$c-item-modifiers-control-bg: #2e6b98
$c-item-modifiers-control-icon: #fdfbed
$c-item-modifier-bg: #cbcbcb
$c-item-modifier-text: #fdfbed
$c-item-modifier-price-text: transparentize(#fdfbed, 0.6)
$c-item-modifier-icon: transparentize(#fdfbed, 0.6)
$c-item-modifier-price-text: transparentize(#fdfbed, 0.6)
$c-item-modifier-active-bg: #a2a2a2
$c-item-modifier-bottle-active-bg: #8091a0
$c-item-modifier-tower-active-bg: #6a5f79
$c-item-modifier-magnum-active-bg: #685991
$c-item-modifier-stein-active-bg: #a09e80
$c-item-modifier-2-pt-jug-active-bg: #676650
$c-item-modifier-4-pt-jug-active-bg: #4a4838
$c-item-modifier-jug-active-bg: #624b43
$c-item-modifier-pint-active-bg: #80a089
$c-item-modifier-double-active-bg: #80a089
$c-item-modifier-splash-active-bg: #6c4763
$c-item-modifier-scooner-active-bg: #4a4838
$c-item-modifier-half-active-bg: #a08080
$c-item-modifier-single-active-bg: #a08080
$c-item-modifier-small-active-bg: #8a9a9d
$c-item-modifier-medium-active-bg: #707d80
$c-item-modifier-large-active-bg: #515c5f
$c-item-condiments-control-bg: transparent
$c-item-condiments-control-border: #2e6b98
$c-item-condiments-control-icon: #2e6b98
$c-item-condiments-action-bg: #cbcbcb
$c-item-condiments-action-add-on-bg: #b2c7a5
$c-item-condiments-action-take-off-bg: #c7a5a5
$c-item-condiments-action-text: #fdfbed
$c-item-condiment-bg: transparentize(#8580a0, 0.5)
$c-item-condiment-take-off-bg: #cbcbcb
$c-item-condiment-add-on-bg: #cbcbcb
$c-item-condiment-text: #fdfbed
$c-item-condiment-price-text: transparentize(#fdfbed, 0.6)
$c-item-condiment-active-bg: #8580a0
$c-item-condiment-take-off-active-bg: #c7a5a5
$c-item-condiment-add-on-active-bg: #b2c7a5
$c-item-quantity-label-text: #000000
$c-item-quantity-control-bg: #156e58
$c-item-quantity-control-text: #ffffff
$c-item-quantity-value-bg: transparent
$c-item-quantity-value-border: #797979
$c-item-quantity-value-text: #000000

//////////////////////////////////////// Fonts

$f-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif
