////////////////////////////////////////
// Project variables
////////////////////////////////////////

//////////////////////////////////////// Breakpoints

//////////////////////////////////////// Colors

$c-body-bg: #fffce6


$c-main-meta-text: #7f7d72
$c-main-action-bg: #770c80
$c-main-action-text: #fdfbed
$c-main-subtotal-bg: #80a080
$c-main-subtotal-text: #fff

$c-header-info-bg: #6984a3
$c-header-label-text: #fdfbed
$c-header-sidebar-toggle-icon: #fdfbed
$c-header-search-toggle-bg: #fdfbed
$c-header-search-toggle-text: #6984a3
$c-header-search-toggle-icon: #7496c3
$c-header-action-bg: #6984a3
$c-header-action-text: #fdfbed

$c-menu-category-bg: #2fa081
$c-menu-category-text: #fdfbed
$c-menu-category-icon: #fdfbed
$c-menu-category-active-bg: #1c5243
$c-menu-category-active-corner: #ff7f50
$c-menu-category-home-bg: #c76f85
$c-menu-category-home-active-bg: #000
$c-menu-category-home-active-corner: #ff7f50
$c-menu-subcategories-bg: #d5ead2
$c-menu-subcategories-control-bg: #2e6b98
$c-menu-subcategories-control-icon: #fdfbed
$c-menu-subcategory-bg: #8e8e8e
$c-menu-subcategory-text: #fdfbed
$c-menu-subcategory-active-corner: #ff7f50
$c-menu-items-control-bg: transparent
$c-menu-items-control-border: #044c4c
$c-menu-items-control-icon: #044c4c
$c-menu-item-bg: #8e8e8e
$c-menu-item-text: #fdfbed
$c-menu-item-meta-text: transparentize(#fdfbed, 0.5)

$c-invoice-panel-bg: #fdfbed
$c-invoice-panel-border: #707070
$c-invoice-panel-header-bg: #c17a7a
$c-invoice-panel-title-text: #fdfbed
$c-invoice-panel-footer-bg: #eae8d9
$c-invoice-panel-function-text: #023e18
$c-invoice-list-label-text: #a0a0a0
$c-invoice-item-bg: transparent
$c-invoice-item-text: #000000
$c-invoice-item-meta-text: #726f6f
$c-invoice-item-meta-label-text: #726f6f
$c-invoice-item-meta-label-take-off-text: #84ac6c
$c-invoice-item-meta-label-add-on-text: #c19393
$c-invoice-item-price-text: transparentize(#000000, 0.6)
$c-invoice-item-hover-bg: transparentize(#07967b, 0.7)
$c-invoice-item-active-bg: transparentize(#07967b, 0.7)
$c-invoice-info-bg: #023e18
$c-invoice-table-number-bg: #d06101
$c-invoice-table-number-text: #fdfbed
$c-invoice-total-text: #ffffff

$c-numpad-display-bg: transparent
$c-numpad-display-border: #0c8080
$c-numpad-display-text: #000000
$c-numpad-control-bg: #0c8080
$c-numpad-control-text: #fdfbed
$c-numpad-control-clear-bg: transparent
$c-numpad-control-clear-border: #0c8080
$c-numpad-control-clear-text: #0c8080
$c-numpad-transaction-display-bg: transparent
$c-numpad-transaction-display-border: #156E58
$c-numpad-transaction-display-text: #000000
$c-numpad-transaction-control-bg: #156E58
$c-numpad-transaction-control-text: #fdfbed
$c-numpad-transaction-control-clear-bg: transparent
$c-numpad-transaction-control-clear-border: #156E58
$c-numpad-transaction-control-clear-text: #156E58

$c-modal-bg: #fdfbed

$c-item-image-bg: #5c5c5c
$c-item-image-icon: #fdfbed
$c-item-title-text: #050505
$c-item-subtitle-text: #7b7b7b
$c-item-meta-text: transparentize(#0b0b0b, 0.6)
$c-item-meta-label-text: transparentize(#0b0b0b, 0.6)
$c-item-modifiers-bg: transparent
$c-item-modifiers-control-bg: #2e6b98
$c-item-modifiers-control-icon: #fdfbed
$c-item-modifier-bg: #cbcbcb
$c-item-modifier-text: #fdfbed
$c-item-modifier-price-text: transparentize(#fdfbed, 0.6)
$c-item-modifier-icon: transparentize(#fdfbed, 0.6)
$c-item-modifier-price-text: transparentize(#fdfbed, 0.6)
$c-item-modifier-active-bg: #a2a2a2
$c-item-modifier-bottle-active-bg: #8091a0
$c-item-modifier-tower-active-bg: #6a5f79
$c-item-modifier-magnum-active-bg: #685991
$c-item-modifier-stein-active-bg: #a09e80
$c-item-modifier-2-pt-jug-active-bg: #676650
$c-item-modifier-4-pt-jug-active-bg: #4a4838
$c-item-modifier-jug-active-bg: #624b43
$c-item-modifier-pint-active-bg: #80a089
$c-item-modifier-double-active-bg: #80a089
$c-item-modifier-splash-active-bg: #6c4763
$c-item-modifier-scooner-active-bg: #4a4838
$c-item-modifier-half-active-bg: #a08080
$c-item-modifier-single-active-bg: #a08080
$c-item-modifier-small-active-bg: #8a9a9d
$c-item-modifier-medium-active-bg: #707d80
$c-item-modifier-large-active-bg: #515c5f
$c-item-condiments-control-bg: transparent
$c-item-condiments-control-border: #2e6b98
$c-item-condiments-control-icon: #2e6b98
$c-item-condiments-action-bg: #cbcbcb
$c-item-condiments-action-add-on-bg: #b2c7a5
$c-item-condiments-action-take-off-bg: #c7a5a5
$c-item-condiments-action-text: #fdfbed
$c-item-condiment-bg: transparentize(#8580a0, 0.5)
$c-item-condiment-take-off-bg: #cbcbcb
$c-item-condiment-add-on-bg: #cbcbcb
$c-item-condiment-text: #fdfbed
$c-item-condiment-price-text: transparentize(#fdfbed, 0.6)
$c-item-condiment-active-bg: #8580a0
$c-item-condiment-take-off-active-bg: #c7a5a5
$c-item-condiment-add-on-active-bg: #b2c7a5
$c-item-quantity-label-text: #000000

$c-quantity-control-bg: #156e58
$c-quantity-control-text: #ffffff
$c-quantity-value-bg: transparent
$c-quantity-value-border: #797979
$c-quantity-value-text: #000000

$c-message-title-text: #770c80
$c-message-box-bg: #ffffff
$c-message-box-border: #707070
$c-message-text: #000000
$c-message-preset-bg: #07a09a
$c-message-preset-text: #fdfbed
$c-message-action-bg: #770c80
$c-message-action-text: #fdfbed

$c-switch-control-bg: #535151
$c-switch-control-border: #707070
$c-switch-control-text: #fdfbed

$c-keyboard-control-bg: #969595
$c-keyboard-control-text: #fdfbed
$c-keyboard-control-icon: #fdfbed

$c-void-title-text: #770c80
$c-void-action-bg: #770c80
$c-void-action-text: #fdfbed

$c-search-title-text: #770c80
$c-search-products-bg: transparent
$c-search-products-control-bg: #2e6b98
$c-search-products-control-icon: #fdfbed
$c-search-product-bg: #8e8e8e
$c-search-product-text: #fdfbed
$c-search-product-meta-text: transparentize(#fdfbed, 0.5)

$c-field-box-bg: transparentize(#fcfcfc, 0.6)
$c-field-box-border: transparentize(#707070, 0.6)
$c-field-box-text: #000000
$c-field-action-bg: transparentize(#006004, 0.6)
$c-field-action-text: #fdfbed

$c-transaction-action-split-bg: #c17a7a
$c-transaction-action-split-text: #ffffff
$c-transaction-action-receipt-bg: #770c80
$c-transaction-action-receipt-text: #ffffff
$c-transaction-denomination-bg: #80a080
$c-transaction-denomination-text: #ffffff
$c-transaction-method-cash-bg: #5d775d
$c-transaction-method-cash-text: #ffffff
$c-transaction-method-card-bg: #6984a3
$c-transaction-method-card-text: #ffffff

$c-pagination-control-bg: #c9caed
$c-pagination-control-border: #707070
$c-pagination-control-icon: transparentize(#000000, 0.5)
$c-pagination-info-bg: transparent
$c-pagination-info-border: #707070
$c-pagination-info-text: transparentize(#000000, 0.5)

$c-data-item-total-border: #707070
$c-data-item-label-total-text: #000000
$c-data-item-label-cash-text: #7f9f7f
$c-data-item-label-card-text: #6984a3
$c-data-item-label-loyalty-text: #6984a3
$c-data-item-label-deposit-text: #6984a3
$c-data-item-label-balance-text: #000000
$c-data-item-label-change-text: #000000
$c-data-item-value-total-text: #000000
$c-data-item-value-cash-text: #7f9f7f
$c-data-item-value-card-text: #6984a3
$c-data-item-value-loyalty-text: #6984a3
$c-data-item-value-deposit-text: #6984a3
$c-data-item-value-balance-bg: #156e58
$c-data-item-value-balance-text: #ffffff
$c-data-item-value-balance-active-bg: #f86018
$c-data-item-value-balance-active-text: #ffffff
$c-data-item-value-change-text: #058b00
$c-data-item-value-change-active-text: #f86018

$c-summary-action-bg: #80A080
$c-summary-action-text: #FFFFFF

//////////////////////////////////////// Fonts

$f-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif
