@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Modal window
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".pos-modal"

#{$block}
  position: relative
  display: block
  width: 100%
  max-width: 1024px
  margin: auto
  border-radius: 15px
  background-color: $c-modal-bg

  #{$block}-portal &
    z-index: 10002

  +media-screen-1280x800
    border-radius: 12px

  +media-screen-1024x768
    border-radius: 12px

  +media-screen-1024x600
    border-radius: 9px

  // $Modal window MOD: role item
  // $Modal window MOD: role message
  &_role_item,
  &_role_message
    flex-grow: 0
    flex-shrink: 0
    width: 777px
    height: 777px

    +media-screen-1280x800
      height: 620px

    +media-screen-1024x768
      width: 620px
      height: 582px

    +media-screen-1024x600
      width: 620px
      height: 466px


  // $Modal window content
  &__content
    display: block
    width: 100%
    height: 100%

    // $Modal window content CONTEXT: Modal window MOD: role item
    #{$block}_role_item &
      padding: 12px 16px

      +media-screen-1280x800
        padding: 10px 16px

      +media-screen-1024x768
        padding: 10px 12px

      +media-screen-1024x600
        padding: 8px 12px

    // $Modal window content CONTEXT: Modal window MOD: role message
    #{$block}_role_message &
      padding: 10px 15px 30px

      +media-screen-1024x768
        padding: 9px 12px 22px

      +media-screen-1024x600
        padding: 8px 12px 18px


  @at-root
    // $Modal window portal
    &-portal


    // $Modal window overlay
    &-overlay
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: 10001
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      overflow-x: hidden
      overflow-y: auto
      background-color: rgba(0,0,0,.75)
